*
{
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
}

/* RIGHT CONFIG */

#config
{
	width: 20vmax;
	height: 100%;
	background-color: rgb(0,43,54);
	float: left;
}

#config h2
{
	color: white;
	text-align: center;
	font-family: aero;
	margin-top: 0.5vmax;
	font-size: 1.5vmax;
}

#config input[name="zone"]
{
	color: white;
	margin-top: 0.3vmax;
	margin-left: 0vmax;
}
#config input[name="priority"]
{
	margin-left: 0.5vmax;
	margin-top: 0.5vmax;
}
#config span
{
	color: white;
	font-size: 1vmax;
}

#select_image
{
	margin-left: 4.7vmax;
	margin-top: 0vmax;
	width: 10.1vmax;
	height: 4.1vmax;
        color: white;
}

#select_color
{
	margin-left: 4.7vmax;
	margin-top: 0vmax;
	width: 10.1vmax;
	height: 4.1vmax;
}
#select_color table
{
	border-collapse: collapse;
}
#select_color table tr td
{
	border: 1px white solid;
	width: 2vmax;
	height: 2vmax;
}


#select_time
{
	margin-left: 8vmax;
	margin-top: 0vmax;
	width: 4vmax;
	height: 2vmax;
	padding: 0.1vmax 0.1vmax 0.1vmax 0;
	font-size: 1vmax;
}
#select_police button
{
	background-color: #e7e7e7;
	float: left;
	border: 1px solid black;
	width: 33%;
	font-size: 14px;
	opacity: 0.6;
  	transition: 0.3s;
  	display: inline-block;
  	text-decoration: none;
  	cursor: pointer;
  	text-align: center;
}
#select_police button:hover
{opacity: 1}



#bt_create
{
	margin-top: 1vmax;
	margin-left: 6.5vmax;
}

/* BOTTOM CONFIG */

#botconfig
{
	width: 80vmax;
	height: 13%;
	margin-left: 20vmax;
	background-color: rgb(0,43,54);
}

#change_text
{
	width: 79.15vmax;
	height: 5vmax;
	margin-top: 0.25vmax;
	border: none;
	border-radius: 2px;
	background-color: rgb(230,230,230);
	padding: 5px;
	font-size: 0.9vmax;
	display: none;
}




/* CONTENT */


#precontent
{
	border-color: white;
	border-width: 3px;
	border-style: hidden hidden inset inset;
	width: 79.8vmax;
	height: 86.6%;
	margin-left: 20vmax;
}

#content
{
	width: 100%;
	height: 100%;
}

#content h1
{
	width: 100%;
	height: 7%;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0%;
	border-bottom: 1px rgba(255,255,255,0.2) solid;
	font-family: aero;
	letter-spacing: 2px;
	font-size: 200%;
}

#content p
{
	font-family: aero;
	padding: 2%;
	font-size: 200%;
}

.image
{
	max-height: 720px;
        max-width: 1800px;       
}

